@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Yantramanav:wght@100;300;400&display=swap');

/*General styling*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding: 50px;
}

/*Fonts*/

body {
    font-family: 'Yantramanav', sans-serif, Arial, Verdana;
    font-weight: 300;
}

h1 {
    font-family: 'Gochi Hand', cursive, Arial, Verdana;
    font-size: 48px;
}

/*TODO: juiste fonts zoeken en inplementeren*/

/*Areas*/

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1300px;
}

.header-container {
    display: flex;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
}

.country-searcher-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.country-searcher-container p {
    font-size: 25px;
}

.country-searcher-container p a {
    text-decoration: none;
}

.countries-list-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: solid lightgrey 2px;
    background-color: rgba(211, 211, 211, 0.48);
    min-width: 100%;
    flex-shrink: 0;
}

#countries-list {
    display: flex;
    flex-direction: column;
    max-height: 5715px;
    flex-wrap: wrap;
}

#countries-list li {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 10px 0 10px 0;
}

#country-name {
    font-size: 20px;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.purple {
    color: purple;
}